/* styles.css */
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;  
  padding: 0;

}

header {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(home.jpg);
  height: 85vh;
  background-size: cover;
  /* background-position: center; */
  background-position: center center; 
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title h1 {
  color: #fff;
  font-size: 70px;
  font-family: Century Gothic;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px;
}

.main {

  background: white;
  padding: auto;
}

.con {
  height: auto;
  background: white;
  width:100% ;

}

.note_title {
  font-size: 18px;
  color: #3f434f;
  line-height: 18px;
  padding-top: 18px;
}
.note_list {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.note_list li a {
  font-size: 15px;
  color: #565656;
  line-height: 40px;
}

.note{
  width: 100%;
  height: auto;
  height: 243px;
  background-color: whitesmoke;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0px 0 24px;
  margin-top: 30px;
  border-radius: 5px;
}
.projects {
  width: 100%;
  height: auto;
  min-height: 243px;
  margin-bottom: 20px;
  background-color: rgba(240, 237, 237, 0.904);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding: 20px 0px 0 24px;
}
/* .projects {
  width: 40%;
  height: 243px;
  background: #fbfbfb url("../images/ma_05.jpg") no-repeat right bottom;
  float: left;
  padding: 0 38px 0 24px;
} */

.projects_title {
  font-size: 18px;
  color: #3f434f;
  line-height: 18px;
  padding-top: 18px;
}
.skills{
  width: 100%;
  padding-left: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;

}


.contact {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

h1 {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
}

.h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
p{
  padding-left: 10px;
  font-size: 1em;
}
td{
  font-size: 15px;
  word-break: break-word;
}
.projects_name
{
  width: 200px;
  text-align: center;

}
.projects_content
{
  padding: 20px 10px 20px 10px;
  text-align: center;
  width: 400px;
}
.projects_tech{
  text-align: center;
  width: 300px ;
}
.projects table{
  padding: 5px 0 30px 0;
  width: 100%;
  overflow:scroll

}
.link{
  text-align: center;
  width: 100px;
}