/* styles.css */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(home.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title h1 {
  color: #fff;
  font-size: 70px;
  font-family: Century Gothic;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.main {
  width: 100%;
  background: white;
}

.note {
  height: 243px;
  background: white;
}

.note_title {
  font-size: 18px;
  color: #3f434f;
  line-height: 18px;
  padding-top: 36px;
}
.note_list {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.note_list li a {
  font-size: 12px;
  color: #565656;
  line-height: 25px;
}

.note_l {
  width: 50%;
  height: 243px;
  /* background: rebeccapurple; */
  padding-left: 21px;
}

#projects {
  width: 50%;
  margin-bottom: 20px;
  background-color: rgba(221, 216, 216, 0.788);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
#skills,
#profile {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#contact {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.h1 {
  width: 100%;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
